<div class="header">
  <div class="back-button">
    <div class="header-button" [routerLink]="['/']" *ngIf="hasBackButton">
      <mat-icon>arrow_back</mat-icon>
    </div>
  </div>
  <div class="page-title">{{ title }}</div>
  <div class="language-selector">
    <p class="header-button" (click)="changeLanguage('cs')">CS</p>
    <p class="header-button" (click)="changeLanguage('en')">EN</p>
  </div>
</div>
