.header {
  --header-size: 100px;

  height: var(--header-size);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary);
  color: #fff;

  @media (max-width: 1000px) {
    --header-size: 50px;
  }
}

.back-button {
  width: var(--header-size);
  height: var(--header-size);
}

.page-title {
  padding: 0 40px;
  font-size: 35px;
  font-weight: 700;

  @media (max-width: 1000px) {
    font-size: 18px;
    padding: 0 20px;
  }
}

.language-selector {
  margin-left: auto;
  display: flex;
}

.header-button {
  width: var(--header-size);
  height: var(--header-size);
  margin: 0;
  text-align: center;
  line-height: var(--header-size);
  cursor: pointer;
  outline: none;

  mat-icon {
    vertical-align: middle;
  }

  &:hover {
    background-color: var(--primary-hover);
  }
}
