.note-detail {
  display: block;
  background-color: var(--primary);
  margin-top: 40px;
  padding: 30px;
  color: #fff;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 200px;
  border: none;
  outline: none;
}

.note-actions {

  .note-button {

    &.save {
      flex-basis: 50%;
    }
  }
}
