<app-header [title]="note && ('NOTE_TITLE' | translate: {value: note.id})" [hasBackButton]="true"></app-header>

<div class="container">
  <textarea
    matInput
    autofocus
    class="note-detail"
    [formControl]="noteControl"
  ></textarea>
  <div class="note-actions">
    <button
      class="note-button save"
      [disabled]="!noteControl.dirty || noteControl.invalid || !noteControl.value.trim().length"
      (click)="saveNote()"
    >{{ "ACTIONS.SAVE" | translate }}</button>
    <button
      class="note-button delete"
      (click)="openDeleteDialog()"
    >{{ "ACTIONS.DELETE" | translate }}</button>
  </div>
</div>
