/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  --primary: #1d1d1d;
  --primary-hover: #2e2e2e;

  --disabled: #4c4c4c;

  --background: #080808;

  --blue: #0967bb;
  --blue-hover: rgba(116, 185, 255, .07);

  --red: #bf2122;
  --red-hover: rgba(255, 118, 117, .07);

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

.container {
  width: 70%;
  margin: auto;

  @media (max-width: 1000px) {
    width: 100%;
    padding: 20px;
  }
}

.note-actions {
  display: flex;
  border-top: 1px solid #0e0e0e;

  .note-button {
    flex-basis: 50%;
    text-align: center;
    padding: 10px 0;
    background-color: transparent;
    outline: none;
    border: none;

    &.save {
      flex-basis: 100%;
      color: var(--disabled);

      &:not([disabled]) {
        color: var(--blue);
      }

      &:hover:not([disabled]) {
        cursor: pointer;
        background-color: var(--blue-hover);
      }
    }

    &.edit {
      color: var(--blue);
      border-right: 1px solid #0e0e0e;

      &:hover {
        cursor: pointer;
        background-color: var(--blue-hover);
      }
    }

    &.delete {
      color: var(--red);

      &:hover {
        cursor: pointer;
        background-color: var(--red-hover);
      }
    }
  }
}

.mat-snack-bar-container {
  background-color: var(--primary);
  color: #fff;
}

.mat-dialog-container {
  background-color: var(--primary);
}
