<h2 mat-dialog-title>{{ "DIALOG.TITLE" | translate }}</h2>
<mat-dialog-content>{{ "DIALOG.CONTENT" | translate }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ "ACTIONS.CANCEL" | translate }}</button>
  <button mat-button color="warn" (click)="delete()">{{ "DIALOG.CONFIRM" | translate }}</button>
</mat-dialog-actions>
