<app-header [title]="'NOTES_TITLE' | translate"></app-header>

<div class="notes container">
  <div class="note new">
    <textarea
      matInput
      autofocus
      class="note-text"
      [formControl]="newNoteControl"
      [placeholder]="'NEW_NOTE' | translate"
    ></textarea>
    <div class="note-actions">
      <button
        class="note-button save"
        [disabled]="newNoteControl.invalid || !newNoteControl.value.trim().length"
        (click)="saveNote()"
      >{{ "ACTIONS.SAVE" | translate }}</button>
    </div>
  </div>
  <div class="note" *ngFor="let note of notes; trackBy: trackByFn">
    <p class="note-text">{{ note.title }}</p>
    <div class="note-actions">
      <button class="note-button edit" [routerLink]="['/notes', note.id]">{{ "ACTIONS.EDIT" | translate }}</button>
      <button class="note-button delete" (click)="openDeleteDialog(note.id)">{{ "ACTIONS.DELETE" | translate }}</button>
    </div>
  </div>
</div>
