.notes {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.note {
  max-width: 40%;
  min-width: 150px;
  background: var(--primary);
  color: #fff;
  margin: 20px;

  @media (max-width: 1000px) {
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
  }

  .note-text {
    padding: 15px 20px;
    margin: 0;
    font-size: 14px;
    line-height: 28px;
  }

  textarea.note-text {
    display: block;
    color: #fff;
    background-color: var(--primary);
    border: none;
    outline: none;
    line-height: 22px;
    height: 80px;
    min-width: 200px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;

    @media (max-width: 1000px) {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}
